<?xml version="1.0" encoding="utf-8"?>
<!--
このファイルは、Web プロジェクトの公開 / パッケージ処理で使用されます。この MSBuild ファイルを編集すると、
この処理の動作をカスタマイズできます。詳細については、https://go.microsoft.com/fwlink/?LinkID=208121 を参照してください。 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/e866ce86-c6c3-4e19-80f8-0bbfb69afe99/resourcegroups/sample-razor-app-group/providers/Microsoft.Web/sites/SampleRazorApp20241203095723</ResourceId>
    <ResourceGroup>sample-razor-app-group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://samplerazorapp20241203095723.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>55e5ab27-1a33-414f-9658-243ade2eca81</ProjectGuid>
    <PublishUrl>https://samplerazorapp20241203095723.scm.azurewebsites.net/</PublishUrl>
    <UserName>$SampleRazorApp20241203095723</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>